body {
    font-family: 'Caveat', cursive;
    background-color: #56494C;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        flex-basis: 100vh;
        text-align: center;
        font-size: 50px;
        color: #847E89;
    }

    fieldset {
        padding: 0 20px 20px 20px;
        margin-bottom: 10px;
        border: 1px solid #847E89;
    }

    legend {
        color: #847E89;
        font-weight: bold
    }

    form {
        width: 280px;
        flex-basis: 50vh;
        margin: 0 auto;

        .input_text {
            line-height: 1;
            padding: 0 10px;
            background-color: #fff;
            border: 2px solid silver;
            width: clamp(150px, 50%, 300px);
            height: 20px;
            border-radius: 30px;
        }

        button {
            margin: 0 auto;
        }
    }
}
